auto-install-peers=false
strict-peer-dependencies=false
only-built-dependencies[]=esbuild
only-built-dependencies[]=bufferutil
only-built-dependencies[]=utf-8-validate
only-built-dependencies[]=es5-ext
